<!-- INCLUDE overall_header.html -->

<h2>Impressum</h2>

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>

	<div class="content">
		<p>
			<strong>Angaben gemäß § 5 Telemediengesetz</strong><br/>
			Name und Anschrift<br/>
			Thomas Dinges<br/>
			Adlerstraße. 8<br/>73113 Ottenbach<br/>
			<br/>
			E-Mail-Adresse<br/>
mail
&#64;
dingto.org<br/>
			<br/>
			Telefon<br/>07165 / 949021<br/>
		</p>
		<p>
			<strong>Haftung:</strong>
			Für den Inhalt der Beiträge und Links auf Internetseiten Dritter ist alleine der jeweilige Verfasser des Beitrags verantwortlich.<br/><br/>

			Sollten Sie einen Beitrag finden, von dem Sie denken, dass er Ihre Rechte oder Rechte Dritter verletzt, setzen Sie sich bitte via E-Mail mit mir in Verbindung. Der betreffende Beitrag wird daraufhin überprüft und wenn nötig entfernt.<br/><br/>

			Bitte beachten Sie unsere <a href="/ucp.php?mode=privacy">Datenschutzrichtlinie</a> und die <a href="/ucp.php?mode=terms">Nutzungsbedingungen</a>.
		</p>
	</div>

	<span class="corners-bottom"><span></span></span></div>
</div>

<!-- INCLUDE jumpbox.html -->
<!-- INCLUDE overall_footer.html -->
