<!-- INCLUDE overall_header.html -->

<h2>Impressum</h2>

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>

	<div class="content">
		<p>
			<strong>Angaben gemäß § 5 Telemediengesetz</strong><br/>
                        Blender e.V.<br>
                        Föhrenweg 14<br>
                        73054 Eislingen / Fils<br><br>

                        1. Vorsitzender: Thomas Dinges<br>
                        Mail: mail@dingto.org<br><br>

                        Der Blender e. V. ist eingetragen im Vereinsregister des Amtsgerichts Göppingen unter der Vereinsregisternummer 1440.<br>
		</p>
		<p>
			<strong>Haftung:</strong>
			Für den Inhalt der Beiträge und Links auf Internetseiten Dritter ist alleine der jeweilige Verfasser des Beitrags verantwortlich.<br/><br/>

			Sollten Sie einen Beitrag finden, von dem Sie denken, dass er Ihre Rechte oder Rechte Dritter verletzt, setzen Sie sich bitte via E-Mail mit mir in Verbindung. Der betreffende Beitrag wird daraufhin überprüft und wenn nötig entfernt.<br/><br/>

			Bitte beachten Sie unsere <a href="/ucp.php?mode=privacy">Datenschutzrichtlinie</a> und die <a href="/ucp.php?mode=terms">Nutzungsbedingungen</a>.
		</p>
	</div>

	<span class="corners-bottom"><span></span></span></div>
</div>

<!-- INCLUDE jumpbox.html -->
<!-- INCLUDE overall_footer.html -->