		<div>{L_ALL_IMAGES}</div>
		<div>{L_SORTED_BY} {L_SORTED}</div>
		<div><a href="{HREF_SORT}" onfocus="blur()">Nach {L_SORT_AFTER} sortieren</a></div>
		<div class="pagination"><a href="#" onclick="jumpto(); return false;" title="Klicke, um auf Seite … zu gehen">{L_PAGE} <strong>{PAGE_CURRENT}</strong> {L_VON} <strong>{PAGE_MAX}</strong></a> &bull;
			<span><strong>1</strong><span class="page-sep">, </span><a href="./viewtopic.php?start=15">2</a></span>
		</div>
<!-- INCLUDE bp/galerie_imagerow.html -->